* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Smythe", sans-serif;
  max-width: 600px;
  border: 1px solid black;
}

/* Typography */

h1 {
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

button {
  border: 1.5px solid #dedede;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}

/* Header */

header {
  background-image: url(./images/burgerHero.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 46px;
}

.diner-motto {
  font-size: 1.4rem;
  margin: 5px 0 0;
}

/* Menu */

.menu {
  padding: 22px 46px;
}

.meal {
  padding: 45px 0 40px 0;
  border-bottom: 1px solid lightgray;
}

.meal-content {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.meal-image {
  width: 70px;
  height: 79px;
}

.meal-title {
  margin-block: 0;
  font-weight: 400;
  font-size: 1.75rem;
}

.meal-ingredients {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 1rem;
  margin-block: 7px;
}

.fa-plus {
  color: #3c3c3c;
  font-weight: 200;
  font-size: 1rem;
}

.push-right {
  margin-left: auto;
}
