* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Smythe", sans-serif;
  max-width: 600px;
  border: 1px solid black;
}

/* Typography */
h1 {
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

/* Header */

header {
  background-image: url(./images/burgerHero.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 46px;
}

.diner-motto {
  font-size: 1.4rem;
  margin-top: 5px;
}

/* Main */

main {
  padding: 46px;
}

.meal {
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  align-items: center;
  gap: 30px;
}

.meal-ingredients {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 1rem;
}

.fa-plus {
  width: 50;
  height: 50;
  border: 1px solid #dedede;
  padding: 20px;
  border-radius: 50%;
  /* text-align: center; */
}

.push-right {
  margin-left: auto;
}
